<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content=width=device-width, initial-scale=1.0>
    <link rel=stylesheet href=style.css>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script defer src=script.js></script>
    <title>To Do Management</title>
</head>
<body>
    <header>
        <span class="header-title">To Do Management</span>
    </header>
    <div class="lists-container">
        <div class="list-card" style="background-color: #8eceff">
                <span class="center-big-icon">    
                    <span class="fas fa-file-medical"></span>
                </span>
                <span class="add-new-sign">
                    <span>New list...</span>
                </span>
            </div>
        <div class="list-card" data-id="123">
            <div class="list-title">My list</div>
            <div class="list-items-stat">
                <span class="stat-done">23</span>
                <span> of </span>
                <span class="stat-all">678</span>
                <span> done</span>
            </div>
            <div class="bottom-panel">
                <button class="inv-button delete-btn" style="color: #58aeff">
                    <span class="fas fa-trash"></span>
                </button>
                <button class="inv-button edit-btn">
                    <span class="fas fa-pen" style="color: #58aeff"></span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
